name: dementia_ai_app
description: AI Tool for Early-Stage Dementia Detection
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.2.1
  permission_handler: ^11.3.0
  fl_chart: ^0.68.0
  flutter_sound: ^9.2.13
  path_provider: ^2.1.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
